
.loading {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.2;
  background-color: #ffffff;
}
.vid video{
  height:60vh;
  width:60vw;
  position:fixed;
}
.vid canvas {
  height:55vh;
  width:60vw;
  position:fixed;
}